* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh sans", sans-serif;
}

:root {
  --light-grey: #9daec2;
  --light-violete: #939bf4;
  --violet-color: #5964e0;
  --dark-blue-color: #19202d;
  --background-color: #f4f6f8;
  --light-grey-hover: #6e8098;
  --light-card: #ffffff;
  --search-border: #e7e8e9;
  --input-light: #19202d;
  --button-violet-color: #5964e0;
  --ligt-button-violet-color: #eeeffc;
  --light-button-violete: #939bf4;
}

.dark-mode {
  --input-light: #ffffff;
  --light-card: #19202d;
  --light-grey: #6e8098;
  --violet-color: #5964e0;
  --dark-blue-color: #ffffff;
  --background-color: #121721;
  --search-border: #313743;
  --button-violet-color: #ffffff;
  --ligt-button-violet-color: #303642;
  --light-button-violete: #6e8098;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--light-gray);
  overflow-x: hidden;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0px;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 20px;
}

.home-upper {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  min-height: 25vh;
  background: url(./assets/desktop/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  padding: 0px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.theme-toggle-btn {
  background-color: #fff;
  width: 50px;
  height: 25px;
  border: 1px solid #ffffff;
  border-radius: 1000px;
  cursor: pointer;
  position: relative;
  outline: none;
}

.theme-toggle-btn::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--violet-color);
  border-radius: 50%;
  transition: 0.3s;
  top: 0;
  left: 0;
  margin: 4px;
}
.theme-toggle-btn:hover::before {
  background-color: var(--light-violete);
}
.theme-toggle-btn::before:hover {
  background-color: var(--light-violete);
}

.theme-toggle-btn.dark-mode::before {
  left: 25px;
}

.home-lower {
  min-height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.home-lower-jobs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  align-items: start;
  justify-content: center;
  padding: 100px 6%;
  width: 100%;
}

.job-card {
  position: relative;
  background: var(--light-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 30px 30px;
  margin-top: 40px;
  border-radius: 6px;
}

.company-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-top: -25px;
  margin-left: 30px;
}

.company-logo img {
  max-width: 100%;
  max-height: 100%;
}

.job-condition {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1rem;
  color: var(--light-grey-hover);
  font-weight: 400;
  line-height: 162%;
  font-family: "Kumbh Sans", sans-serif;
}

.job-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.job-title h2 {
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-blue-color);
  margin-top: 20px;
  cursor: pointer;
}

.job-title h2:hover {
  color: var(--light-grey-hover);
}

.job-company {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.job-company p {
  padding: 10px 0px;
  font-size: 1rem;
  color: var(--light-grey-hover);
  font-weight: 400;
  line-height: 162%;
}

.job-location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

.job-location p {
  color: var(--violet-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 162%;
}

.home-btn {
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.home-btn button {
  width: 140px;
  height: 50px;
  border: 1px solid var(--violet-color);
  background-color: var(--violet-color);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 50px;
}

.home-btn button:hover {
  background-color: var(--light-violete);
}

.home-btn p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-grey-hover);
}

.search-bar {
  position: absolute;
  bottom: 0;
  margin-bottom: -40px;
  z-index: 5;
  width: 89%;
  height: 80px;
  background: var(--light-card);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-container-1 {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0px 30px;
  border-right: 1px solid var(--search-border);
}

.search-container-1 input {
  width: 100%;
  height: 60%;
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  color: var(--input-light);
  font-weight: 600;
}

.search-container-1 input::placeholder {
  color: var(--light-grey-hover);
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
}

.search-container-2 {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0px 30px;
  border-right: 1px solid var(--search-border);
}

.search-container-2 input {
  width: 100%;
  height: 60%;
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  color: var(--input-light);
  font-weight: 600;
}

.search-container-2 input::placeholder {
  color: var(--light-grey-hover);
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
}

.search-btn {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 0px 15px;
}

.search-btn input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid var(--light-card);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  accent-color: var(--violet-color);
}

.search-btn p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 162%;
  color: var(--dark-blue-color);
  margin-right: 20px;
}

.search-btn button {
  width: 120px;
  height: 50px;
  border: 1px solid var(--violet-color);
  background-color: var(--violet-color);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn button:hover {
  background-color: var(--light-violete);
}

.details-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 20px;
}

.details-page-upper {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  min-height: 25vh;
  background: url(./assets/desktop/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  padding: 0px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.details {
  position: absolute;
  top: 0;
  z-index: 10;
  height: auto;
  margin-top: 7rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.details-banner {
  width: 100%;
  height: 130px;
  background: var(--light-card);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.details-banner-image {
  width: 130px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0px 0px 5px;
}

.details-banner-image img {
  max-width: 100%;
  max-height: 100%;
}

.details-banner-company {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  padding: 0px 20px;
}

.details-banner-company h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-blue-color);
}

.details-banner-company p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--light-grey-hover);
}

.details-banner-company-site {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-banner-company-site button {
  width: 150px;
  height: 50px;
  border: 1px solid var(--ligt-button-violet-color);
  background-color: var(--ligt-button-violet-color);
  color: var(--button-violet-color);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
}

.details-banner-company-site button:hover {
  background-color: var(--light-button-violete);
}

.details-banner-company-site button a {
  text-decoration: none;
  color: var(--button-violet-color);
}

.details-content {
  width: 100%;
  background: var(--light-card);
  border-radius: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.details-content-job {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.details-content-job-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.details-content-job-left-time {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1rem;
  color: var(--light-grey-hover);
  font-weight: 400;
  line-height: 162%;
  font-family: "Kumbh Sans", sans-serif;
}

.details-content-job-left-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.details-content-job-left-title h2 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--dark-blue-color);
}

.details-content-job-left-location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.details-content-job-left-location p {
  color: var(--violet-color);
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 162%;
}

.details-content-job-right {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.details-content-job-right button {
  width: 140px;
  height: 50px;
  border: 1px solid var(--violet-color);
  background-color: var(--violet-color);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
}

.details-content-job-right button:hover {
  background-color: var(--light-violete);
}

.details-content-job-right button a {
  text-decoration: none;
  color: #ffffff;
}

.details-content-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.details-content-description p {
  color: var(--light-grey-hover);
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
}

.details-content-requirements {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  color: var(--light-grey-hover);
}

.details-content-requirements h2 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--dark-blue-color);
}

.details-content-requirements p {
  color: var(--light-grey-hover);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

ol,
ul {
  list-style-type: none;
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ol {
  counter-reset: count;
}

li {
  position: relative;
}

li::before {
  color: var(--violet-color);
  font-weight: 700;
  position: absolute;
  left: 0;
}

ul li::before {
  content: "\2022";
}

ol li {
  counter-increment: count;
}

ol li::before {
  content: counter(count) "";
}

li {
  padding-left: 1.75rem;
  line-height: 2rem;
}

.just-here {
  width: 100%;
  height: 180px;
}

.details-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light-card);
  padding: 0px 20%;
}

.details-footer-company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.details-footer-company h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-blue-color);
}

.details-footer-company p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--light-grey-hover);
}

.details-footer button {
  width: 140px;
  height: 50px;
  border: 1px solid var(--violet-color);
  background-color: var(--violet-color);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
}

.details-footer button:hover {
  background-color: var(--light-violete);
}

.details-footer button a {
  text-decoration: none;
  color: #ffffff;
}

/* mediaqueries start */
@media screen and (max-width: 956px) {
  .search-container-1 {
    width: 30%;
  }
  .search-container-2 {
    width: 30%;
  }
  .search-btn {
    width: 40%;
  }
  .search-btn p {
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }

  .details {
    width: 80%;
  }

  .details-footer {
    padding: 0px 10%;
  }
}

@media screen and (max-width: 816px) {
  .details {
    width: 90%;
  }
}

@media screen and (max-width: 750px) {
  .details {
    margin-top: 8.5rem;
    width: 80%;
  }

  .details-banner {
    position: absolute;
    flex-direction: column;
    height: 180px;
    gap: 10px;
    padding: 30px 0px;
  }

  .details-banner-image {
    position: absolute;
    top: 0;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 1rem;
  }
  .details-banner-company {
    align-items: center;
  }

  .details-content {
    margin-top: 210px;
  }

  .details-content-job {
    flex-direction: column;
    gap: 20px;
  }

  .details-content-job-left {
    width: 100%;
  }

  .details-content-job-left-title h2 {
    font-size: 1.25rem;
  }

  .details-content-requirements h2 {
    font-size: 1.25rem;
  }

  .details-content-job-right {
    width: 100%;
    justify-content: flex-start;
  }

  .details-content-job-right button {
    width: 100%;
  }

  .details-footer {
    justify-content: center;
  }

  .details-footer-company {
    display: none;
  }

  .details-footer button {
    width: 100%;
  }
}

@media screen and (max-width: 546px) {
  .home-upper {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 25vh;
    background: url(./assets/mobile/bg-pattern-detail-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .details {
    width: 90%;
  }

  .details-page-upper {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 25vh;
    background: url(./assets/mobile/bg-pattern-detail-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
