* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh sans", sans-serif;
}

:root {
  --light-grey: #9daec2;
  --light-violete: #939bf4;
  --violet-color: #5964e0;
  --dark-blue-color: #19202d;
  --background-color: #f4f6f8;
  --light-grey-hover: #6e8098;
  --light-card: #ffffff;
}

.dark-mode {
  --light-card: #19202d;
  --light-grey: #6e8098;
  --violet-color: #5964e0;
  --dark-blue-color: #ffffff;
  --background-color: #121721;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--light-gray);
  overflow-x: hidden;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0px;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 20px;
}

.home-upper {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  min-height: 25vh;
  background: url(./assets/desktop/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  padding: 0px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.theme-toggle-btn {
  background-color: #fff;
  width: 50px;
  height: 25px;
  border: 1px solid #ffffff;
  border-radius: 1000px;
  cursor: pointer;
  position: relative;
  outline: none;
}

.theme-toggle-btn::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--violet-color);
  border-radius: 50%;
  transition: 0.3s;
  top: 0;
  left: 0;
  margin: 4px;
}
.theme-toggle-btn:hover::before {
  background-color: var(--light-violete);
}
.theme-toggle-btn::before:hover {
  background-color: var(--light-violete);
}

.theme-toggle-btn.dark-mode::before {
  left: 25px;
}

.home-lower {
  min-height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.home-lower-jobs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  align-items: start;
  justify-content: center;
  padding: 100px 6%;
  width: 100%;
}

.job-card {
  position: relative;
  background: var(--light-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 30px 30px;
  margin-top: 40px;
  border-radius: 6px;
}

.company-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-top: -25px;
  margin-left: 30px;
}

.company-logo img {
  max-width: 100%;
  max-height: 100%;
}

.job-condition {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1rem;
  color: var(--light-grey-hover);
  font-weight: 400;
  line-height: 162%;
  font-family: "Kumbh Sans", sans-serif;
}

.job-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.job-title h2 {
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-blue-color);
  margin-top: 20px;
  cursor: pointer;
}

.job-title h2:hover {
  color: var(--light-grey-hover);
}

.job-company {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.job-company p {
  padding: 10px 0px;
  font-size: 1rem;
  color: var(--light-grey-hover);
  font-weight: 400;
  line-height: 162%;
}

.job-location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

.job-location p {
  color: var(--violet-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 162%;
}

.home-btn {
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.home-btn button {
  width: 140px;
  height: 50px;
  border: 1px solid var(--violet-color);
  background-color: var(--violet-color);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 50px;
}

.home-btn button:hover {
  background-color: var(--light-violete);
}

.home-btn p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-grey-hover);
}
